/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

p.error {
    font-family: arial, sans-serif;
    line-height: 150%;
    margin-left: 2em;
    padding: 1em;
    border: 3px solid red;
    background-color: #f89;
    display: inline-block;
}
